body{
background-image: url(lilpeep1.jpg);
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.fondo {
    background-color: pink;
    width: 350px;
    
}
h1 {
    color: black;
    font-family: Arial;
    font-style: italic;
}
p {
color: white;
font-family: arial;
}

h2 {
    color:black ;
    font-family: Arial;
} 
.fondo2 {
    background-color: pink;
    width: 350px;
    
}
.gears5{
    width: 400;
    height: 250px;
}
h3 {
    font-size: 27px;
    color: black;
    font-family: Arial;
    
}
.fondo3 {
    background-color: pink;
    width: 350px;
    
}
.dibujo{
    width: 400;
    height: 250px;
}
h4 {
    font-size: 27px;
    color: black;
    font-family: Arial;
    font-size: 30px
 }

 .fondo4 {
    background-color: pink;
    width: 350px;
    
}
.david{
    width: 600;
    height: 500px;
}

h5 {
    font-size: 27px;
    color: black;
    font-family: Arial;
    font-size: 34px
 }
 .fondo5 {
    background-color: pink;
    width: 350px;
 }

.contenedor {
display: flex;
}
.peep2 {
    margin-right: 10px
    
}
.sound {
    margin-left: 10px;
}